.card-collection {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.menu-component-container .p-menubar-end{
    margin-left: 0 !important;
    width: 100%;
}

.menu-end-components {
    display: flex;
    align-items: center;
    width: 100%;
}

.menu-end-deck-text {
    width: auto;
    white-space: nowrap;
}

.mtg-card-selection-container-panel {
    margin: 10px;
}

.mtg-card-selection-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-type-selection {
    display: flex;
    align-items: center;
    width: 100%;
}

.card-type-selection .currently-showing {
    margin-right: .5rem;
}

.mtg-card-selection-container .p-button {
    margin-right: .5rem;
}

.card-type-selection-right {
    margin-left: auto;
}

.menu-button {
    margin: 10px;
}

.mtg-card {
    text-align: center;
    transition: transform .2s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.mtg-card-no-fade {
    text-align: center;
}
.mtg-card .card-name {
    margin-bottom:.3rem;
}

.mtg-card:hover, .mtg-card-no-fade:hover{
    transform: translateY(-10px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.header {
    font-size: 6vw;
    text-align: center;
    margin-bottom: 40px;
}

.confirmation-dialog .p-button {
    margin: 0 .5rem 0 0;
    min-width: 10rem;
}

.confirmation-dialog p {
    margin: 0;
    line-height: 1.5;
}

.confirmation-dialog .confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirmation-dialog .p-dialog .p-button {
    min-width: 6rem;
}

.searchContainer {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.searchContainer .search-box {
    width: 80%;
}

.searchContainer .search-input-box {
    width: 100%;
}

.current-deck-view-component {
    z-index: 10000;
    margin: 10px;
    position: relative;
}

.current-deck-view-component.maximized {
    position: absolute;
    top: 60px;
    left: 0px;
    width: calc(100% - 20px);
    z-index: 10000;
    height: calc(100% - 150px);
    transition: top 1.0s linear;
}

.current-deck-view-component .p-panel-content {    
    display: flex;
    justify-content: space-around;
}

.current-deck-view-component .cmc-bucket {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.current-deck-view-component .deck-view-card:not(:first-child) {
    margin-top:-330px;
}

.current-deck-view-component .current-deck-view-header {
    display: flex;
    width:100%;
    align-items: center;
    justify-content: space-between;
}

.fade-in {
    animation: fadeIn ease .6s;
    -webkit-animation: fadeIn ease .6s;
    -moz-animation: fadeIn ease .6s;
    -o-animation: fadeIn ease .6s;
    -ms-animation: fadeIn ease .6s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
      transform: translateY(30px);
    }
    100% {
      opacity:1;
      transform: translateY(0px);
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
      transform: translateY(30px);
    }
    100% {
      opacity:1;
      transform: translateY(0px);
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
      -webkit-transform: translateY(30px);
    }
    100% {
      opacity:1;
      -webkit-transform: translateY(0);
    }
}